* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    padding: 10px 50px;
    background-color: white;
}

.header svg {
    margin-left: 220px;
}

.menu {
    display: flex;
    position: absolute;
    z-index: 10001;
    width: 225px;
    top: 0;
    left: 0;
   background-color: white;
    padding: 32px 20px 0 20px;
    height: 100%;
    justify-content: start;
}

.menu-item a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.menu ul {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    list-style: none;
}

.footer {
   
    background-color: #383838;;
    color: white;
    font-size: 13px;
    padding: 30px 20px 30px 20px;
    text-align: left;
    font-weight: 500;
}